{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-md-8">
    <h1 class="page-header">
                    Nazwa Bloga!
                    <small>Jakieś śmieszne motto</small>
                </h1>

    {% for post in posts %}
                    
        <h2>
            <a href="#">{{post.posttitle}}</a>
        </h2>
        <p class="lead">
            by <a href="index.php">{{post.userid.userlogin}}</a>
        </p>
        <p><span class="glyphicon glyphicon-time"></span> {{post.postdate|date('Y-m-d H:i:s') }}</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <div class="last-line">
            {{post.postcontent}}
        </div>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
 
    {% endfor %}
        <ul class="pager">
            <li class="previous">
                <a href="#">&larr; Older</a>
            </li>
            <li class="next">
                <a href="#">Newer &rarr;</a>
            </li>
        </ul>
    {% endblock %}