<ul class="nav navbar-nav">

{% for category in categories %}
    <li>
        <a href="{{path('blog_cat',{'id': category.categoryid }) }}">{{category.categoryname}}</a>
    </li>
{% endfor %}        

</ul>