.last-line {
  word-wrap: break-word;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 10; /* number of lines to show */
   max-height: 250px; 
  
}
.media22{
    word-wrap: break-word;
}
